body{
    font-family: Arial, Helvetica, sans-serif;
}
.head{


}
.logo h3{
    font-family: 'Italianno', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: green;
}
.menu-kart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: green;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0 10px;
}
.menu>div{
    margin-right: 10px;
}
.kart-profile{
    display: flex;
    margin: 10px 10px 0 10px;
    font-size: 20px;
}
.kart-profile>div{
    margin-left: 20px;
}
.search-bar{
    margin-left: 10px;
}
.search-bar>input{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    position: relative;
    bottom: 20px;
    
}

/* hero section */
.hero-section{
    display: flex;
    flex-direction: column;
}
.hero-section>.main-img{
    background-image:url("https://media.istockphoto.com/id/1165099685/photo/cotton-bag-glass-jar-green-leaves-and-recycled-tableware-top-view-zero-waste-eco-friendly.jpg?s=2048x2048&w=is&k=20&c=8OMgd9R-L5-WQAnshHl-eo2EWDej2FOTGXluEsL6ioo=") ;
    background-size: cover;
    height: 300px;
}
.welcome {
    margin-left: 10px;
}
.welcome>p{
    font-size: 8px;
    color: gray;
}
.hero-section button,button{
    background-color: rgb(6, 101, 6);
    border-radius: 5px;
    color: white;
    border: none;
    min-width: 20px;
    font-size: 10px;
    align-self: center;
    margin: 10px;
}
button:hover{
    background-color: rgb(2, 54, 2);
}
.hero-section button{
    margin-top: 30px;
}
/* cards section */
.cards-section{
    margin: 80px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    max-width: 600px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card1{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    
}
.row1,.row2{
    display: flex;
    flex-direction: row;
    columns: 300px 2;
    
    
}
.card button{
    width: 30px;
    font-size: 5px;
   
   
}
.card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.pro-title{
    font-size: 8px;
}

.reviw-price{
    display: flex;
    font-size: 5px;
    justify-content: space-between;
}
.rev-count{
    color: grey;

}

.reviw-price div{
    margin: 10px;
}

/* review section */
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.riview{
    display: flex;
    flex-direction: row;
    min-width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.review img{
    object-fit: cover;
    border-radius: 50%;
}

.green-dot3{
    display: flex;
    justify-content: flex-end;
}
.review .comment{
    font-size: 8px;
    max-width: 200px;
}
.review div{
    padding-bottom: 10px;
}
.custname{
    font-size: 10px;
    color: black;
}
.review{
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    color: gray;
    padding: 5px;
    max-width: 300px;
   
}
.why-choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;

}
.card-title,.review-title,.chose-title{
    margin-bottom: 40px;
}

.why-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.inside-item .contents{
    font-size: 8px;
    color: gray;
    max-width: 200px;
    padding: 10px;
}
.inside-item .titles{
    font-size: 10px;
}
footer{
    background-color: rgb(143, 85, 27);
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.left-footer{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-self: flex-start;


}
.social-media{
    display: flex;
    flex-direction: row;
}
.social-media>div{
    margin-right: 10px;
}
.left-footer>div{
    margin: 10px 10px 10px 0;
}
.navigate a{
    text-decoration: none;
    display: inline;
    margin-right: 20px;
    color: rgb(208, 204, 204);
    font-size: 10px;
}
.ending-title{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.gray{
    font-size: 10px;
    color: rgb(200, 199, 199);
}
.right-footer{
    

}
.contact{
    margin-bottom: 10px;
}
.small{
    color: rgb(200, 199, 199);
    max-width: 200px;
    margin-top: 10px;
    font-size: 10px;
}




.review img{
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) and (max-width: 2000px) {
    /* CSS for large screens */
    .big-font{
        font-size: 40px;
    }
    .hero-section>.main-img{
        height: 500px;
    }

    .card1{
        width: 300px;
        height: 400px;
        margin: 10px;
        border-radius: 10px;
        
    }
    .card{
        margin: 20px 10px;
        border-radius: 20px;
    }
    .hero-section button,button{
        border-radius: 10px;
        color: white;
        border: none;
        width: 150px;
        height: 50px;
        font-size: 20px;
        align-self: center;
        margin: 10px;
    }
    .welcome>p{
        font-size: 20px;
    }
    .sub{
        font-size: 30px;
    }
    .search-bar>input{
        height: 50px;
        border-radius: 10px;
    }
    .card button{
        width: 100px;
        height: 35px;
        font-size: 15px;
    }
    .pro-title{
        font-size: 25px;
    }
    
    .reviw-price{
        font-size: 20px;
    }

    .card-title,.review-title,.chose-title{
        font-size: 30px;
        margin-bottom: 40px;
    }
    .review .comment{
        font-size: 18px;
        max-width: 300px;

    }
    .custname{
        font-size: 22px;
    }
    .review img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    .inside-item .contents{
        font-size: 18px;
        color: gray;
        max-width: 300px;
        padding: 10px;
    }
    .inside-item .titles{
        font-size: 22px;
    }
    .cards-section,.reviews,.why-choose,.footer{
        margin-top: 200px;
    }
    footer{
        height: 400px;
    }
    .gray{
        font-size: 18px;
        color: rgb(200, 199, 199);
    }
    .navigate a{
        font-size: 20px;
    }
    .social-media>div{
        margin-right: 20px;
    }
    .pages,.contact{
        font-size: 22px;
    }
    .small{
        font-size: 18px;
    }



}